In [1]:
#Q1. What are the characteristics of the tuples? Is tuple immutable?

ans-indexing ,ordered, immutable,it caotain duplicate items

In [2]:
#Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why 
#tuples have only two in-built methods as compared to Lists.

ans-in list we can change the values but in tuple we can't therefor we can't do operation like pop append...

​

In [4]:
#in case of tuple we can do like count and indexing
a=(2,2,4,5,6,7)
print(a.count(2))
print(a.index(2))

2
0

###Q3.  Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove 
duplicates from the given list.


List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

ans-set data type in python do not allow duplicate items

In [7]:
L = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

In [8]:
a=list(set(L))
a

[1, 2, 3, 4]

Q4. Explain the difference between the union() and update() methods for a set. Give an example of 
each method.

ans- Both do the same thing that is adding the two or more set but measure difference is union form a new set where as update add a items in 
existing set

In [12]:
a={2,4,5,6}
b={8,9}
c=print(a.union(b))
d=print(a.update(b))
c
a

{2, 4, 5, 6, 8, 9}
None

{2, 4, 5, 6, 8, 9}

Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered

ans-dictionary is a combination of key value pair ,eg-{a:apple} , dictionary is ordered

Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level 
nested dictionary.

In [15]:
#ans-yes we can create a nested dictionary
eg={"a":"apple","b":"{ball:red}"}
eg

{'a': 'apple', 'b': '{ball:red}'}

In [16]:
type(eg)

dict

In [17]:
dictionary = {'name':'Adam',"surname" : "warlock",'Address':{'city':'LA','country':'usa'}}
dictionary

{'name': 'Adam',
 'surname': 'warlock',
 'Address': {'city': 'LA', 'country': 'usa'}}

In [18]:
type(dictionary)

dict

Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of 
the key as this list ['Python', 'Machine Learning’, 'Deep Learning']


dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [19]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [21]:
dict1.setdefault("topics", ["Python", "Machine Learning", "Deep learning"])
dict1

{'language': 'Python',
 'course': 'Data Science Masters',
 'topics': ['Python', 'Machine Learning', 'Deep learning']}

Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display 
these three view objects for the given dictionary.


dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

In [24]:
#ans=three view object are keys ,values,items
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}
print(dict1.keys())
print(dict1.values())
print(dict1.items())

dict_keys(['Sport', 'Teams'])
dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])
dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])