Q1. Create a python program to sort the given list of tuples based on integer value using a lambda function. [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [1]:
player_list = [('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
list(sorted(player_list,key = lambda x:x[1]))

[('Virat Kohli', 24936),
 ('Jack Kallis', 25534),
 ('Ricky Ponting', 27483),
 ('Sachin Tendulkar', 34357)]

Q2. Write a Python Program to find the squares of all the numbers in the given list of integers using lambda and map functions. [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
list_=lambda a:a*a
for i in range(1,11):
    b=[]
    b.append(list_(i))
    print(b)

[1]
[4]
[9]
[16]
[25]
[36]
[49]
[64]
[81]
[100]

In [58]:
list(map(lambda a:a*a,iterator))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [57]:
iterator=[1,2,3,4,5,6,7,8,9,10]

Q3. Write a python program to convert the given list of integers into a tuple of strings. Use map and
lambda functions


Given String: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

Expected output: ('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

input_list = [i for i in range(1,11)]
ans = []
func = lambda ele : f'{ele}'
for i in input_list:
    ans.append(func(i))
print(tuple(ans))

#using map
print(tuple(map(lambda x:f'{x}',input_list)))

Q4. Write a python program using reduce function to compute the product of a list containing numbers from 1 to 25.

In [25]:
import functools
input_list = [i for i in range(1,26)]
print(functools.reduce(lambda x,y:x*y,input_list))

15511210043330985984000000

In [37]:
functools.reduce(lambda x,y:x*y,l)

15511210043330985984000000

In [36]:
l=[i for i in range(1,26)]

Q5. Write a python program to filter the numbers in a given list that are divisible by 2 and 3 using the filter function. [2, 3, 6, 9, 27, 60, 90, 120, 55, 46]

In [42]:
b=[2,3,6,9,27,60,90,120,55,46]

In [47]:
list(filter(lambda a:a%2==0 and a%3==0,b))

[6, 60, 90, 120]

Q6. Write a python program to find palindromes in the given list of strings using lambda and filter function.['python', 'php', 'aba', 'radar', 'level']

In [48]:
palindromes=lambda a: a
palindromes(1)

1

In [ ]:
palindromes=lambda a: a

In [51]:
a=('mohit')
a

'mohit'

In [52]:
a[::-1]

'tihom'

In [72]:
palindromes=lambda a: a==a[::-1]
palindromes(list_)

False

In [71]:
b=['python', 'php', 'aba', 'radar', 'level']
list_=b[-5:-1]
list_

['python', 'php', 'aba', 'radar']

In [69]:
a=[1,2,3,4]
b=a[-4:-1]
b

[1, 2, 3]

In [73]:
input_list = ['python', 'php', 'aba', 'radar', 'level']
# lambda
palin = lambda x:x if x == x[::-1] else None
ans = []
for i in input_list:
    ans.append(palin(i))
print(ans)
# filter

list(filter(lambda x:x == x[::-1],input_list))

[None, 'php', 'aba', 'radar', 'level']

['php', 'aba', 'radar', 'level']